<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lembrete</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <style>
        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        html,
        body {
            background: #eeeeee;
            font-family: 'Open Sans', sans-serif, Helvetica, Arial;
        }

        img {
            max-width: 100%;
        }

        @media only screen and (max-width: 480px) {
            table tr td {
                width: 100% !important;
                float: left;
            }
        }
    </style>
</head>

<body style="background: #eeeeee; padding: 10px; font-family: 'Open Sans', sans-serif, Helvetica, Arial;">

    <center>

        <table width="100%" cellpadding="0" cellspacing="0" bgcolor="FFFFFF"
            style="background: #ffffff; max-width: 600px !important; margin: 0 auto; background: #ffffff;">
            <tr>
                <td style="padding: 20px; text-align: center; background: #4846b3;">
                    <h1 style="color: #ffffff">Eventify</h1>
                </td>
            </tr>

            <tr>
                <td style="padding: 20px; text-align: center;">

                    <p style="font-size:20px; margin: 5px;">Olá <%= @user.email %></p>

                    <p>Passando aqui para te lembrar do seu Evento "<%= @event.title %>"
                        com data de início 
                        <%= I18n.l @event.starts_at, format: :short2 %>Hrs 
                        e data de fim <%= I18n.l @event.ends_at, format: :short2 %>Hrs
                    </p>
                </td>
            </tr>

            <tr>
                <td style="padding: 20px;">

                    <table border="0" cellpadding="0">
                        <tr>
                            <td width="70%" style="width: 70%; padding: 10px; text-align: left;">
                                <h3>Descrição:</h3>
                                <p><%= @event.description %></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="padding: 20px; background: #2B2E34;">

                    <table border="0" cellpadding="0" cellspacing="0" a>
                        <tr>
                            <td width="50%" style="width: 50%; padding: 10px; color: #ffffff; text-align: left;"
                                valign="top">
                                <h2>Sobre nós</h2>
                                <p style="font-size: 14px;">Aplicação para cadastrar Eventos onde o mesmo será possível
                                    adicionar Lembretes a cada Evento, "lembrando que cada Evento terá no máximo 5
                                    lembretes".</p>
                            </td>
                            <td width="50%" style="width: 50%; padding: 10px; color: #ffffff; text-align: left;"
                                valign="top">
                                <h2>Contatos</h2>

                                <table border="0" style="font-size: 14px;">
                                    <tr>
                                        <td>Telefone: (88) 888-8888</td>
                                    </tr>
                                    <tr>
                                        <td>Email: support@eventify.com</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>

        <p style="text-align: center; color: #666666; font-size: 12px; margin: 10px 0;">
            Copyright © 2022. Todos&nbsp;os direitos&nbsp;reservados.<br />
        </p>
    </center>

</body>

</html>