%tr.border-top
  %td
    = index + 1
  %td
    %p{:class => "#{reminder.reminder_at <= Time.now ? "text-decoration-line-through" : ""}"}
      = l reminder.reminder_at, format: :short2

  %td
    = link_to reminder, method: :delete, data: { confirm: 'Tem certeza?' } do
      = image_tag "delete.png", class: "image-delete"
