<div class="show-reminder">

  <div>
    <p>
      <strong>Title:</strong>
      <%= @event.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @event.description %>
    </p>

    <p>
      <strong>Starts at:</strong>
      <%= @event.starts_at %>
    </p>

    <p>
      <strong>Ends at:</strong>
      <%= @event.ends_at %>
    </p>

    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </div>

  <aside>

    <%= link_to "#", { 
      'data-bs-toggle' => @event.reminders.length == 5 ? "tooltip" : "modal", 
      "data-bs-target" => "#staticBackdrop",
      "title" => "No máximo 5 lembretes"
      } do %>
      <div class="button-new-reminder">
        <%= image_tag "lembrete.png" %>
      </div>
    <% end %>
    <section class="reminders" data-post-id="<%= @event.id %>">
      <p class="teste">Lembretes</p>
      
      <% if @event.reminders.any? %>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>N°</th>
            <th>Data de Lembrete</th>
          </tr>
        </thead>

        <tbody>
          <% @event.reminders.each_with_index do |reminder, index| %>
          <%= render reminder, index: index %>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <div>
        <p> Nenhum lembrete ainda! </p>
      </div>
      <% end %>
    </section>
  </aside>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="new-reminder">
          <%= render "reminders/form" %>
        </div>
      </div>
    </div>
  </div>
</div>