%h2 Autenticação
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"
  .field
    = f.password_field :password, autocomplete: "current-password", placeholder: "Senha"
  .actions
    = f.submit "Entrar", class: "hover-button"
= render "devise/shared/links"
